# History files
.Rhistory
.Rapp.history

# Session Data files
.RDataTmp

# User-specific files
.Ruserdata
.rds

# Example code in package build process
package_creation.r
README.rmd

# Raw external data
data/REKI_trackingdata_Spain.rds
data/REKI_annotated_feeding.csv
data/buildings.gpkg
data/wald.gpkg


# Output files that are too big
/*.Rcheck/
output/REKI_feed_data.rds

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
.DS_Store
inst/doc
